{% extends 'layout/complice.html.twig' %}

{% block contenu %}
<div class="row">
    <div class="col-lg-11">
        <table class="table table-hover" id="datatable">
            <thead>
            <tr>
                <th scope="col">{% trans %}utilisateur.edit.civilite{% endtrans %}</th>
                <th scope="col">{% trans %}utilisateur.edit.login{% endtrans %}</th>
                <th scope="col">{% trans %}utilisateur.edit.nom{% endtrans %}</th>
                <th scope="col">{% trans %}utilisateur.edit.prenom{% endtrans %}</th>
                <th scope="col">{% trans %}utilisateur.edit.email{% endtrans %}</th>
                <th scope="col">{% trans %}utilisateur.edit.actif{% endtrans %}</th>
                <th scope="col">{% trans %}utilisateur.edit.edit{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set color =  'success'%}
                {% if user.civilite == 'Mme' %}
                    {% set color = 'warning' %}
                {% endif %}
                <tr class="table-{{ color }}">
                    <th scope="row">{{ user.civilite }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.actif %}
                            <img src="{{ asset('images/switch-on.png') }}" alt="on" />
                        {% else %}
                            <img src="{{ asset('images/switch-off.png') }}" alt="off" />
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('utilisateur_editer', {'id': user.id}) }}">
                            <img src="{{ asset('images/edit.png') }}" alt="edit" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}




