{% extends 'layout/complice.html.twig' %}

{% block contenu %}
<div class="row">
    <div class="col-lg-11">
        <table class="table table-hover" id="datatable">
            <thead>
            <tr>
                <th scope="col">Civilité</th>
                <th scope="col">Login</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Actif</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set color =  'success'%}
                {% if user.civilite == 'Mme' %}
                    {% set color = 'warning' %}
                {% endif %}
                <tr class="table-{{ color }}">
                    <th scope="row">{{ user.civilite }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.actif %}
                            <img src="{{ asset('images/switch-on.png') }}" alt="on" />
                        {% else %}
                            <img src="{{ asset('images/switch-off.png') }}" alt="off" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}




